<!DOCTYPE html>
<html lang="es">
<body>
  <!---------------------------------- Header ---------------------------------->
  <header class="header">

    <div class="header__logo-container">
      <img class="header__logo" src="https://i.ibb.co/PD8tW95/logito.png" alt="logito">
    </div>
    

    <div class="header__search-container">
      <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Buscar en la tienda" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>
      </nav>
    </div>

    <div class="header__nav-container">
      <button type="button" class="btn btn-secondary">Home</button>
      <button type="button" class="btn btn-secondary">Genero</button>
    </div>

    <div class="header__user-container">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-fill"
        viewBox="0 0 16 16">
        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
      </svg>
    </div>

    <button class="menu-btn">=</button>
  </header>
  <main>
    <div class="container-fluid">
      <div class="row BloqueCentralGrande">
        <div class="row">
          <div class="col-3" style="padding-top: 3%; background-color: rgb(36, 2, 68); border: rgb(107, 107, 107) 3px solid; border-right: rgb(107, 107, 107) 1px solid;;">
            <img src="https://cdn-icons-png.flaticon.com/512/10069/10069275.png">
          </div>
          
          <div class="col-9" style="padding: 0.5%; background-color: rgb(107, 107, 107);">
            <div style="background-color: rgb(36, 2, 68); padding: 2%;">
              <div class="row">
                <div class="col-6">
                  <div class="row textoPadding">
                    <span class="textoDatosUsuario"><span>Nombre: </span>{{nombre}}</span>
                  </div>
                  <div class="row textoPadding" >
                    <span class="textoDatosUsuario"><span>Email: </span>{{email}}</span>
                  </div>
                  <div class="row textoPadding">
                    <span class="textoDatosUsuario"><span>Edad: </span>{{edad}}</span>
                  </div>
                  <div class="row textoPadding">
                    <span class="textoDatosUsuario"><span>Username: </span>{{username}}</span>
                  </div>
                </div>
                <div class="col-6">
                  <div class="row textoPadding">
                    <span class="textoDatosUsuario"><span>Apellido: </span>{{apellido}}</span>
                  </div>
                  <div class="row textoPadding">
                    <span class="textoDatosUsuario"><span>Contraseña: </span>********</span>
                  </div>
                  <div class="row textoPadding">
                    <span class="textoDatosUsuario"><span>Sexo: </span>{{sexo}}</span>
                  </div>
                  <div class="row textoPadding">
                    <span class="textoDatosUsuario"><span>Telefono: </span>{{telefono}}</span>
                  </div>
                </div>
              </div>
              
              <div class="row" style="margin-top: 2%;">
                <div>
                  <button type="button" class="btn btn-outline-danger" style="width:100%;" [disabled]="BotonDesabilitado" id="ElimiarCuenta" (click)="BorrarUsuario(id)">Elimiar cuenta</button>
                </div>
                
              </div>
              <div class="row">
                <button type="button" class="btn btn-outline-warning" style="margin-top: 2%;" [disabled]="BotonDesabilitado" id="RecargarCuenta" (click)="RecargarSaldoMenu()">Recargar saldo</button>
                <div class="modal fade" id="RecargarSaldo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered"> <!-- Agrega la clase 'modal-dialog-centered' -->
                    <div class="modal-content" style="background-color: rgb(46, 46, 46);">
                      <div class="modal-header" style="background-color: rgb(46, 46, 46);">
                        <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: rgb(255, 255, 255); padding: 3% 7%;">Recargar saldo</h1>
                      </div>
                      <div class="modal-body" style="color: rgb(255, 255, 255); background-color: rgb(46, 46, 46);">
                        <div class="d-grid gap-2" style="padding: 3%;">
                          <button class="btn btn-outline-light letrasNegras" type="button" (click)="RecargarSaldo(10000, id)">Recargar $10.000</button>
                          <button class="btn btn-outline-light letrasNegras" type="button" (click)="RecargarSaldo(30000, id)">Recargar $30.000</button>
                          <button class="btn btn-outline-light letrasNegras" type="button" (click)="RecargarSaldo(50000, id)">Recargar $50.000</button>
                          <button class="btn btn-outline-light letrasNegras" type="button" (click)="RecargarSaldo(100000, id)">Recargar $100.000</button>
                          <button class="btn btn-outline-light letrasNegras" type="button" (click)="RecargarSaldo(200000, id)">Recargar $200.000</button>
                        </div>
                      </div>
                      <div class="modal-footer" style="background-color: rgb(46, 46, 46);">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        <div class="row" style="font-size: 30px; background-color: rgb(36, 2, 68); margin-top: 2%; border: rgb(107, 107, 107) 3px solid;">
          <h2 class="textoDatosUsuario" style="font-size: 30px;">Inventario</h2>
        </div>
        <div>
          <div class="row articulos">
            <ng-container *ngFor="let compra of compra">
              <div class="col-2">
                <img class="imagen" [src]="compra.juego.imagen"/>
              </div>
              <div class="col-8 tituloJuego">
                {{compra.juego.nombre}}
            </div>
            <div class="col-2"></div>
            </ng-container>
            <div class="col-2">
              <img class="imagen" src=""/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
