<!DOCTYPE html>
<html lang="es">
<body>
  <!---------------------------------- Header ---------------------------------->
  <header class="header">

    <div class="header__logo-container">
      <img class="header__logo" src="https://i.ibb.co/PD8tW95/logito.png" alt="logito">
    </div>

    <div class="header__search-container">
      <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Buscar en la tienda" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>
      </nav>
    </div>

    <div class="header__nav-container">
      <button type="button" class="btn btn-secondary">Secondary</button>
      <button type="button" class="btn btn-secondary">Secondary</button>
    </div>

    <div class="header__user-container">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-fill"
        viewBox="0 0 16 16">
        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
      </svg>
    </div>

    <button class="menu-btn">=</button>
  </header>
  <main>
    <div class="container-fluid">
      <div class="row BloqueCentralGrande">
        <div class="row">
          <div class="col-3" style="padding-top: 3%; background-color: rgb(36, 2, 68); border: rgb(107, 107, 107) 3px solid; border-right: rgb(107, 107, 107) 1px solid;;">
            <img src="https://cdn-icons-png.flaticon.com/512/10069/10069275.png">
          </div>
          <div class="col-9" style="padding: 0.5%; background-color: rgb(107, 107, 107);">
            <div style="background-color: rgb(36, 2, 68); padding: 2%;">
              <div class="row" style="border: #9700a5 2px solid;">
                <div class="col-6">
                  <div class="row" style="border-bottom: #9700a5 2px solid; border-right: #9700a5 2px solid;">
                    <span class="textoDatosUsuario"><span>Nombre: </span>dasdsa:</span>
                  </div>
                  <div class="row" style="border-bottom: #9700a5 2px solid; border-right: #9700a5 2px solid;">
                    <span class="textoDatosUsuario"><span>Email: </span>dasdsa:</span>
                  </div>
                  <div class="row" style="border-bottom: #9700a5 2px solid; border-right: #9700a5 2px solid;">
                    <span class="textoDatosUsuario"><span>Edad: </span>dasdsa:</span>
                  </div>
                  <div class="row" style="border-right: #9700a5 2px solid;">
                    <span class="textoDatosUsuario"><span>Username: </span>dasdsa:</span>
                  </div>
                </div>
                <div class="col-6">
                  <div class="row" style="border-bottom: #9700a5 2px solid;">
                    <span class="textoDatosUsuario"><span>Apellido: </span>dasdsa:</span>
                  </div>
                  <div class="row" style="border-bottom: #9700a5 2px solid;">
                    <span class="textoDatosUsuario"><span>Contraseña: </span>********</span>
                  </div>
                  <div class="row" style="border-bottom: #9700a5 2px solid;">
                    <span class="textoDatosUsuario"><span>Sexo: </span>dasdsa:</span>
                  </div>
                  <div class="row">
                    <span class="textoDatosUsuario"><span>Telefono: </span>dasdsa:</span>
                  </div>
                </div>
              </div>
              
              <div class="row">
                <div class="col-6">
                  <button type="button" class="btn btn-outline-info" style="width:100%;">Editar datos</button>
                </div>
                <div class="col-6">
                  <button type="button" class="btn btn-outline-danger" style="width:100%;">Elimiar cuenta</button>
                </div>
                
              </div>
              <div class="row">
                <button type="button" class="btn btn-outline-warning">Recargar saldo</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="font-size: 30px; background-color: rgb(36, 2, 68); margin-top: 2%; border: rgb(107, 107, 107) 3px solid;">
          Inventario
        </div>
        <div>
          <h4 id="scrollspyHeading1">First heading</h4>
          <p>...</p>
        </div>
      </div>
    </div>
  </main>
</body>
