/*Parte de Jhon*/
* {
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body,
div,
ul,
nav,
header,
footer,
a,
li,
label {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
pre {
    text-align: center;
}

.header {
    background-color: #202020;
    display: flex;
    justify-content: space-between;
    align-items: center;
    container-type: inline-size;
    container-name: header;
    position: sticky;
    top: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 2000;
}

.header__logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.header__logo {
    max-width: 100%;
    width: 60px;
    margin: 5px 10px;
}

.header__search-container {
    display: flex;
    margin-left: 16%;
    justify-content: center;
    align-items: center;
    width: 55%;
}

.form-inline {
    background-color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn-outline-success {
    color: #ffffffc0;
    border-color: #9700a5;
}

.btn-outline-success:hover {
    background-color: #474747;
}

.header__nav-container {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn-secondary {
    margin: 5px;

    background-color: #202020;
    border: none;
    color: #ffffffc0;
}

.btn:hover {
    color: #fff;
}

.header__user-container {
    background-color: #474747;
    margin: 10px;
    width: 9dvh;
    height: 8dvh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__user-container2 {
    background-color: #474747;
    margin: 10px;
    width: 9dvh;
    height: 8dvh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bi-person-fill {
    color: #ffffffc0;
}

.bi-person-fill:hover {
    color: #fff;
}

.menu-btn {
    display: none;
}

@media (max-width: 800px) {

    .header__nav-container,
    .header__user-container,
    .header__user-container2 {
        display: none;
        /* Ocultar en pantallas pequeñas */
    }

    .menu-btn {
        display: block;
        background-color: transparent;
        color: #fff;
        border: none;
        font-size: 30px;
        margin: 5px;
    }

    .dropdown-active .header__nav-container {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 10px;
        background-color: #202020;
        border: 1px solid #474747;
        border-radius: 10px;
        z-index: 1003;
        width: auto;
        height: 160px;
    }

    .dropdown-active .header__user-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 60px;
        right: 35px;
        background-color: #202020;
        border: 1px solid #474747;
        border-radius: 10px;
        z-index: 1003;
        width: 50px;
        height: 50px;
    }

    .dropdown-active .header__user-container2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 150px;
        right: 35px;
        background-color: #202020;
        border: 1px solid #474747;
        border-radius: 10px;
        z-index: 1003;
        width: 50px;
        height: 50px;
    }
}

/*Portada*/

body {
    background-color: #474747;
}

.principal_image {
    width: all;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #474747;

}

#row_portada {
    text-align: center;
    height: auto;
    position: sticky;
    top: 70px;
}

.fixed {
    position: fixed;
    z-index: 0;
}

#portada {
    height: 600px;
    width: 1200px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/*Barra de botones*/
.column-12 {
    text-align: right;
    position: sticky;
    top: 68px;
    z-index: 1003;
}

.absolute {
    position: fixed;
}

.dropdown-item {
    text-align: center;
    text-decoration: solid;
    color: white;
    background-color: #474747;
    border: black solid 2px;
    border-bottom-left-radius: 10px;
}

.dropdown-menu {
    background: none;
    border: none;
}

/*Zona de Juegos*/

/*Genero*/
.col-3 {
    background-color: #202020;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    height: auto;
    z-index: 1;
}

.gender {
    margin-top: 10%;
    text-align: left;
    margin-left: 5%;
    margin-bottom: 5%;
}

.btn-group-vertical {
    margin-left: 20%;
    width: 70%;
    margin-bottom: 5%;
}

.btn-primary {
    background-color: #474747;
    text-align: left;
    border: none;
    border-bottom: #251a25 5px solid;

}

/*Juegos*/
.col-9 {
    z-index: 1;
    width: 74%;
}

.gamesZone {
    display: grid;
    grid-template-columns: repeat(autofit, minmax(150px, 1fr));
    gap: 32px;

}

.portada:hover {
    scale: 110%;
    z-index: 7;
    position: sticky;
    
}

.portada {
    z-index: 6;
}


.gamesZone>.portada {
    border-radius: 8px;
    width: 100%;
    height: 400px;
    box-shadow: 0px 0px 30px black;
    margin-left: 2%;
    transition: all .9 ease;
}

.image_game_button  {
    z-index:8;
    position: relative;
    top: auto;
    color:#fff;
    border: #202020 solid 1px;
    background-color: #474747;
}

/* Zona de Creditos*/

.credits {
    z-index: 1;
    background-color: #202020;
    color: white;
    margin-top: 1.6%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.text {
    margin-top: 1%;
}

.text2 {
    margin-top: 1%;
    font-size: large;
    text-align: left;
    margin-left: 25%;
}

/*Carrito*/
.modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-left: 33%;
}

.btn-close {
    margin-right: 1%;
}

.modal-header {
    margin: 3%;
}

.btn-success,
.btn-danger {
    margin: 3px;
}

.modal-content {
    border: white solid 2px;
    /* background-color: #251a25;*/
    background-color: #202020;
    color: #fff;
}

.upBounds {
    margin: 2%;
    border-radius: 10px;
    background-color: #474747;
}

.color-table {
    background-color: #474747;
    border-radius: 10px;
    color: #fff;
}

.close {
    border: 2px white solid;
}