<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="home.component.css">
</head>

<body>
  <!---Barra de Herramientas-->
  <header class="header">

    <div class="header__logo-container">
      <img class="header__logo" src="https://i.ibb.co/PD8tW95/logito.png" alt="logito">
    </div>

    <div class="header__search-container">
      <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Buscar en la tienda" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>
      </nav>
    </div>

    <div class="header__nav-container">
      <button type="button" class="btn btn-secondary" (click)="cerrarSesion()">Cerrar Sesion</button>
    </div>
    <div class="header__user-container2">
      <svg xmlns="http://www.w3.org/2000/svg" data-bs-toggle="modal" data-bs-target="#staticBackdrop" width="25" height="25" fill="currentColor" class="bi bi-person-fill"
        viewBox="0 0 576 512">
        <path
          d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z" />
      </svg>
    </div>
    <div class="header__user-container">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-fill"
        viewBox="0 0 16 16">
        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
      </svg>
    </div>
      
    <button class="menu-btn">=</button>

  </header>
  <main class="main">

    <!--Portada-->
    <div class="container-fluid" id="row_portada">
      <div class="row">
        <div class="principal_image">
          <img src="https://i.ibb.co/zZQBc0G/Illustration.png" alt="Portada" id="portada">
        </div>
      </div>
    </div>

    <!---Barra de botones-->
    <div class="container-fluid">
      <div class="row">
        <div class="column-12" id="barraSticky">

          <div class="dropdown">
            <button id="boton_orden" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
              aria-expanded="true">
              Ordernar Por:
            </button>
            <ul id="options" class="dropdown-menu"
              style="display: none; position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 40px);"
              data-popper-placement="bottom-start">
              <li><a class="dropdown-item" href="#">Nombre</a></li>
              <li><a class="dropdown-item" href="#">Valoración</a></li>
              <li><a class="dropdown-item" href="#">Precio</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--Zona de Juegos-->
    <div class="container-fluid">
      <div class="row">
        <!--Generos-->
        <div class="col-3">

          <h3 class="gender"> Géneros</h3>

          <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
            <ng-container *ngFor="let g of gender">
              <button type="button" class="btn btn-primary">{{g.genero}}</button>
            </ng-container>
          </div>
        </div>
        <!--Juegos-->
        <div class="col-9 row">
          <ng-container *ngFor="let j of juego">
            <div class="gamesZone col-4">
              <img [src]="j.imagen" alt="Imagen-prueba" alt="ImagenNoDisponible" class="portada" [id]="j.idJuego">
            </div>
            <!--<div class="gamesZone col-4" >
            <img src="https://i.ibb.co/Fz7pt4N/imagen-2024-07-08-110248767.png" alt="Imagen-prueba" class="portada">           
          </div>
          <div class="gamesZone col-4" >
            <img src="https://i.ibb.co/Fz7pt4N/imagen-2024-07-08-110248767.png" alt="Imagen-prueba" class="portada">           
          </div>-->
          </ng-container>
        </div>

      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col credits">
          <h3 class="text">
            Creditos:
          </h3>
        </div>
      </div>
    </div>

  </main>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>
</body>