*{
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, div, ul, nav, header, footer, a, li, label{
    margin: 0;
    padding: 0;
}


/* ---------------------------- Header Section ---------------------------- */

.header{
    background-color: #202020;
    display: flex;  
    justify-content: space-between;
    align-items: center;
    container-type: inline-size;
    container-name: header;
    position: sticky;
    top: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*------------logo---------------*/

.header__logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}
.header__logo{
    max-width: 100%;
    width: 60px;
    margin: 5px 10px;
}

/*------------Buscador---------------*/
.header__search-container{  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
}

.form-inline{
    background-color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn-outline-success{
    color: #ffffffc0;
    border-color: #9700a5;
}

.btn-outline-success:hover{
    background-color: #474747;
}


/*------------Lista de Botones---------------*/
.header__nav-container{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.btn-secondary{
    margin: 10px;
    background-color: #202020;
    border: none;
    color: #ffffffc0;
}
.btn:hover{
    color: #fff;
}
/*------------Usuario---------------*/

.header__user-container{
    background-color: #474747;
    margin: 10px;
    width: 4%;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bi-person-fill{
    color: #ffffffc0;
}

.bi-person-fill:hover{
    color: #fff;
 }



/* ---------------------------- Main Section ---------------------------- */

.main__container{
    background-color: #1f1e1e;
    display: flex;
    justify-content: space-between;
}

/*------------Izquierda---------------*/

.main__left-container{
    width: 20%;
    padding-top: 100px;
    background-color: #474747;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 20px;
}

.main__navv{
    display: flex;
    flex-direction: column;
    
    position: sticky;
    top: 150px;
}

.main-secondary{
    margin: 5px;
    padding: 15px 20px;
    background-color: transparent;
    color: #fff;
    border-radius: 6px;
    letter-spacing: 4px;
    position: relative;
    margin: 10px;
}

.main-secondary:hover{
    border: 1px solid #fff;
}






/*------------Centro---------------*/
.main__center-container{
    width: 52%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1f1e1e;
    color: #fff;
}

 .wrapper{
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
}

.btnn{
    padding: 20px 30px;
    background-color: transparent;
    color: #fff;
    border-radius: 6px;
    letter-spacing: 4px;
    position: relative;
    margin: 10px;
}

.btn-2{
    border: 1px solid #fff;
    color: #fff;
    animation: parpadear 1.5s infinite alternate backwards;
}

.btn-2:hover{
    animation-play-state: paused;
    border: 1px solid #fff;
    color: #fff;
}

@keyframes parpadear{
    0%{
        color: #fff;
        border: 1px solid #fff;
        box-shadow: 0px;
        text-shadow: 0px;

    }
    25%{
        border-color: #640855;
        box-shadow: 0px 0px 6px #640855, 0px 0px 16px rgb(73, 0, 49);
        text-shadow: 0px 0px 6px rgb(73, 0, 49);
    }
    45%{
        color: #640855;
        border: 1px solid #fff;
        box-shadow: none;
        text-shadow: none;

    }
    65%{
        border-color: #640855;
        box-shadow: 0px 0px 6px #640855, 0px 0px 16px rgb(73, 0, 49);
        text-shadow: none;
    }
    80%{
        color: #fff;
        border: 1px solid #fff;
        box-shadow: 0px;
        text-shadow: 0px;

    }
    100%{
        border-color: #640855;
        color: #640855;
        box-shadow: 0px 0px 6px #640855, 0px 0px 16px rgb(73, 0, 49);
        text-shadow: 0px 0px 6px rgb(73, 0, 49);
    }
}

.main__center-descripcion{
    background-color: #3b3b3b;
    color: #fff;
    margin: 10px;
    border-radius: 10px;
    padding: 40px;
}







/*------------Derecha---------------*/

.main__right-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3b3b3b;
    color: #fff;
    padding: 20px;
    border-top-left-radius: 20px;
    width: 28%;
}


.main__right-img {
    width: 300px;
    height: 200px; 
    overflow: hidden; /
}

.main__right-img img {
    width: 100%; 
    height: auto; 
    display: block; 
    border-radius: 20px;
}
.right__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-secondary{
    padding: 10px 20px;
    margin: 10px;
    border: 1px solid #fff;
}
