<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trabajo Real</title>
  <link rel="stylesheet" href="juego.component.css">
</head>

<body>
  <!---------------------------------- Header ---------------------------------->
  <header class="header">

    <div class="header__logo-container">
      <img class="header__logo" src="https://i.ibb.co/PD8tW95/logito.png" alt="logito">
    </div>

    <div class="header__search-container">
      <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Buscar en la tienda" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>
      </nav>
    </div>

    <div class="header__nav-container">
      <button type="button" class="btn btn-secondary">Home</button>
      <button type="button" class="btn btn-secondary generoBtn">Genero</button>
    </div>

    <div class="header__user-container">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-fill"
        viewBox="0 0 16 16">
        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
      </svg>
    </div>

    <button class="menu-btn">=</button>

  </header>


  <main class="main">
    <!---------------------------------- Main ---------------------------------->
    <div class="main__container">


      <!---------- left ------------->
      <div class="main__left-container">
        <div class="main__navv">
          <ul class="main__ul">
            <li class="generoo" *ngFor="let juegoGenero of juegoGeneros">
              <button type="button" class="btn main-secondary">{{ juegoGenero.genero.genero }}</button>
            </li>
          </ul>
        </div>
      </div>





      <!---------- center ------------->

      <div *ngIf="juego" class="main__center-container">
        <h1>{{ juego.nombre }}</h1>

        <div class="main__center-img">
          <img [src]="juego.imagen" alt="Imagen del Juego">
        </div>

        <div class="wrapper">
          <div class="button-container">
            <button type="" class="btnn btn-2">{{ valoracionGeneral.toFixed(2) }}</button>
          </div>
          <div class="button-container">
            <button class="btnn btn-2">{{ juego.precio }}</button>
          </div>
          <div class="button-container">
            <button class="btnn btn-2">{{ juego.descuento }}</button>
          </div>
        </div>

        <div class="main__center-descripcion">
          <p class="center__descripcion">{{ juego.descripcion }}</p>
        </div>
      </div>

      <!-- Mensaje mientras se carga el juego -->
      <div *ngIf="!juego" class="loading-message">
        <p>Cargando juego...</p>
      </div>


      <!---------- right ------------->
      <div class="main__right-container">

        <div class="main__right-img">
          <img src="https://www.gamechampions.com/media/m1gft121/back-ops-cover.webp" alt="Imagen del Juego">
        </div>


        <div class="comment-section comment-sectionn ">
          <h4>Calificar</h4>

          <label for="valoracionInput">VALORACION DE (1 - 5)</label>
          <div class="comment-input omment-inputt">
            <input class = "inppp" type="number" id="valoracionInput" name="valoracion" min="1" max="5" step="1"
              onkeydown="return false;">

            <button class="calificar" type="submit">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
                <path
                  d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471z" />
              </svg>
            </button>
          </div>
        </div>


        <div class="comment-section">
          <div class="comment-input">
            <textarea [(ngModel)]="nuevoComentario" placeholder="Añadir comentario"></textarea>

            <button (click)="enviarComentario()" type="submit">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-fill"
                viewBox="0 0 16 16">
                <path
                  d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471z" />
              </svg>
            </button>
          </div>
          <div class="container-lista">
            <ul id="listaComentarios">
              <li *ngFor="let comentario of comentarios">
                <p *ngIf="comentario !== comentarioEnEdicion">{{ comentario.contenido }}</p>
                <textarea *ngIf="comentario === comentarioEnEdicion" [(ngModel)]="comentarioEditado"></textarea>

                <button class="delete" (click)="eliminarComentario(comentario.idComentario)">X</button>
                <button class="update" *ngIf="comentario !== comentarioEnEdicion"
                  (click)="iniciarEdicion(comentario)">0</button>
                <button class="update" *ngIf="comentario === comentarioEnEdicion"
                  (click)="actualizarComentario(comentario.idComentario)">Guardar</button>


              </li>
            </ul>
          </div>
        </div>



      </div>

    </div>
  </main>


</body>
