*{
    box-sizing: border-box;
}

/* -------- Header Section --------- */

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, div, ul, nav, header, footer, a, li, label{
    margin: 0;
    padding: 0;
}

.header{
    background-color: #202020;
    display: flex;  
    justify-content: space-between;
    align-items: center;
    container-type: inline-size;
    container-name: header;
    position: sticky;
    top: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*------------logo---------------*/

.header__logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}
.header__logo{
    max-width: 100%;
    width: 60px;
    margin: 5px 10px;
}

/*------------Buscador---------------*/
.header__search-container{  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
}

.form-inline{
    background-color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn-outline-success{
    color: #ffffffc0;
    border-color: #9700a5;
}

.btn-outline-success:hover{
    background-color: #474747;
}


/*------------Lista de Botones---------------*/
.header__nav-container{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.btn-secondary{
    margin: 10px;
    background-color: #202020;
    border: none;
    color: #ffffffc0;
}
.btn:hover{
    color: #fff;
}
/*------------Usuario---------------*/

.header__user-container{
    background-color: #474747;
    margin: 10px;
    width: 4%;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bi-person-fill{
    color: #ffffffc0;
}

.bi-person-fill:hover{
    color: #fff;
 }







